.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid grey;
    margin: auto;
    display: grid;    
    gap: 5px;
    padding: 20px;
}

.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

button{
    width: 25%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

input{
    width: 100%;
    text-align: end;
    outline: none;
    border: 1px solid reb(227,218,218);
    font-size: 20px;
    /* border-radius: 5px; */
}

.active{
    color: aliceblue;
    background-color: darkblue;
}

